@tailwind base;
@tailwind components;
@tailwind utilities;


*{
  font-family: Arial, Helvetica, sans-serif;
}
a.active{
  background-color: white;
  color: rgb(13, 13, 109);
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
}